* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  /* Navbar............................................... */
  .navbar {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .logo {
    width: 140px;
  }
  
  .navbar nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .navbar nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  
  .navbar nav ul li a:hover {
    color: #12adb8;
  }
  
  /* Form container .............................................*/
  .form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .form-container input,
  .form-container textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"] {
    margin-bottom: 20px;
  }
  
  .form-container button {
    background-color: #0f98a3;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;  
    /*  transition smoothly changes at 0.3 sec */
    width: 100%;
  }
  
  .form-container button:hover {
    background-color: #12adb8;
  }
  